/* Styles go here */

img{
  max-height: 120vw;
}
.center{
  text-align: center;
}
.gender .human-body{
  padding: 20px;
}
.input-label{
  direction: rtl;
}
.age{
  width: auto;
}
.body-parts-list .item-content{
  direction: rtl;
}
.body-parts-list img{
  right: 16px;
}

.item-complex.item-icon-left .item-content{
  padding-right: 70px;
}

.scroll {
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}
