<ion-view>
    <ion-nav-buttons side="left">
        <button class="button button-light no-animation" ion-wizard-start="report( step1.gender, step1.age, step3.symptomId )" condition="startCondition()" ng-click="" confirm="Are you sure?">
            דווח
        </button>
        <button class="button button-light no-animation" ion-wizard-next>
            הבא
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button ng-click="cleanOverlays()" class="button button-light no-animation" ion-wizard-previous >
            קודם
        </button>

    </ion-nav-buttons>
    <ion-slide-box ion-wizard>
        <ion-slide ion-wizard-step next-condition="step1.age && step1.gender">
            <ion-wizard-content class="has-header center">
              <h2>:הכנס גיל ובחר מין</h2>
              <div class="center gender">
                <img ng-src="/img/female.png" ng-click="step1.gender = 2" class="center human-body"></img>
                <img ng-src="/img/male.png" ng-click="step1.gender = 1" class="center human-body"></img>
              </div>
              <div class="center age">
                <label class="item item-input">
                  <input type="tel" ng-model="step1.age">
                  <span class="input-label">גיל</span>
                </label>
              </div>
              <input type="hidden" class="gender-input" ng-model="step1.gender">
            </ion-wizard-content>
        </ion-slide>
        <ion-slide ion-wizard-step next-condition="step2.bodyPart">
          <ion-wizard-content class="has-header">
            <ion-list>
              <ion-radio class= "item-avatar item-icon-left body-parts-list" ng-repeat="part in parts"
                ng-value="part.id"
                value="{{ part.id }}"
                ng-model="step2.bodyPart">
                <img ng-src="{{part.image}}">
                <h2>{{part.name}}</h2>
             </ion-radio>

            </ion-list>
          </ion-wizard-content>
        </ion-slide>
        <ion-slide ion-wizard-step next-condition="step3.symptomId" class="has-header">
          <ion-radio class= "item-avatar body-parts-list" ng-repeat="dis in relDisease | filter:{ bodyPart: chosenBodyPart }"
            ng-value="dis.symptomId"
            ng-model="step3.disease"
            ng-click="step3.symptomId = {{ dis.symptomId }}">
            <h2>{{dis.description}}</h2>
         </ion-radio>
         <input type="hidden" class="symptomId-input" ng-model="step3.symptomId">
            <!-- <div class="row">
                <div class="col col-center">
                    <h3 class="positive">Thanks for running the wizard!</h3>
                    <p>As a last step please fill in the field below</p>
                    <div class="item item-input-inset">
                        <label class="item item-input-wrapper">
                            <i class="icon ion-search placeholder-icon"></i>
                            <input type="text" placeholder="Type something" ng-model="step3.something" autocomplete="off">
                        </label>
                    </div>
                    <h3 ng-show="step3.something">You can now launch the app using the button above!</h3>
                </div>
            </div> -->
        </ion-slide>
        <ion-slide ion-wizard-step class="has-header">
          <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
          <div id="map" data-tap-disabled="true"></div>
        </ion-slide>
    </ion-slide-box>

</ion-view>
